@model IEnumerable<SorteioWebApplication.Models.Sorteios>

@{
    ViewData["Title"] = "Sorteios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Sorteios</h1>
<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDoSorteio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdeNumerosSorteados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VibesAculumadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumerosSorteados)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
 *@        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDoSorteio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdeNumerosSorteados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VibesAculumadas)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.NumerosSorteados)
             </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.Texto)
            </td> *@
            <td>
                @Html.ActionLink("Detalhes", "Details", new { id = item.VibesAculumadas }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.NumeroDoSorteio })
            </td>
         </tr>
}
    </tbody>
</table>
