@model IEnumerable<SorteioWebApplication.Models.Sorteios>

@{
    ViewData["Title"] = "Sorteios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDoSorteio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdeNumerosSorteados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VibesAculumadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaSorteios)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
 *@        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDoSorteio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdeNumerosSorteados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VibesAculumadas)
            </td>
             <td>
                 @foreach(var i in item.ListaSorteios)
                 {
                     @foreach(var i2 in i.listaNumerosSorteados)
                     {
                         <td>
                            @Html.DisplayFor(modelItem => i2.Numero ); 
                        </td>
                    }
                 }
             </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.Texto)
            </td> *@
         </tr>
}
    </tbody>
</table>
